{% extends "evesolo/base.html" %}
{% block content %}
<form action="/player/board_action/" method="post">
{% csrf_token %}
<h1>Edit Leaderboard</h1>
    <table>
	<tr><td><ul><li>Details:</li></ul></td><td></td></tr>
	<tr>
		<td><label for="id_leaderboard_player_name">Managing Player</label></td>
		<td><select name="leaderboard_player_name" id="id_leaderboard_player_name">
			<option value="{{leaderboard.player.name}}">{{leaderboard.player.name}}</option>
			{% for player,pilots in players %}
			<option value="{{player.name}}">{{player.name}}</option>
			{% endfor %}
			</select>
		</td>
		<td align="right"></td>
	</tr>
	<tr>
		<td><label for="id_leaderboard_name">Leaderboard Name:</label></td>
		<td><input type="text" name="leaderboard_name" value="{{leaderboard.name}}" id="id_leaderboard_name" /></td>
		<td></td>
	</tr>
	<tr>
		<td><label for="id_leaderboard_ranks">Ranks Displayed:</label></td>
		<td><input type="text" name="leaderboard_ranks" value="{{leaderboard.ranks}}" id="id_leaderboard_ranks" /></td>
		<td></td>
	</tr>
	<tr>
		<td><label for="id_leaderboard_style">Ranking Method:</label></td>
		<td><select name="leaderboard_rank_style" id="id_leaderboard_style">
			<option value="{{leaderboard.rank_style}}">{{leaderboard.rank_style}}</option>
			<option value="Points">Points</option>
			<option value="Kills">Kills</option>
			<option value="Kills">Damage</option>
			</select>
		</td>
		<td></td>
	</tr>
	<tr>
		<td><label for="id_leaderboard_description">Description:</label></td>
		<td><textarea rows="8" cols="47" name="leaderboard_description" id="id_leaderboard_description">{{leaderboard.description}}</textarea></td>
		<td></td>
	</tr>


	<tr><td><br/><ul><li>Restrictions:</li></ul></td><td></td></tr>

	<tr>
		<td><label for="id_leaderboard_max_participants">Max Participants:</label></td>
		<td><input type="text" name="leaderboard_max_participants" value="{{leaderboard.max_participants}}" id="id_leaderboard_max_participants" /></td>
		<td></td>
	</tr>
	
	
	<tr>
		<td><label for="id_allowed_alliances">Allowed Alliances:</label></td>
		<td><input type="text" name="allowed_alliances" size="64" value="{{allowed_alliances}}" id="id_allowed_alliances" /></td>
		<td></td>
	</tr>
	<tr>
		<td><label for="id_allowed_corps">Allowed Corps:</label></td>
		<td><input type="text" name="allowed_corps" size="64" value="{{allowed_corps}}" id="id_allowed_corps" /></td>
		<td></td>
	</tr>
	<tr>
		<td><label for="id_allowed_pilots">Allowed Pilots:</label></td>
		<td><input type="text" name="allowed_pilots" size="64" value="{{allowed_pilots}}" id="id_allowed_pilots" /></td>
		<td></td>
	</tr>
	<tr>
		<td><label for="id_allowed_shipclasses">Allowed Ship Classes:</label></td>
		<td><input type="text" name="allowed_shipclasses" size="64" value="{{allowed_shipclasses}}" id="id_allowed_shipclasses" /></td>
		<td></td>
	</tr>
	<tr>
		<td><label for="id_allowed_ships">Allowed Ships:</label></td>
		<td><input type="text" name="allowed_ships" size="64" value="{{allowed_ships}}" id="id_allowed_ships" /></td>
		<td></td>
	</tr>
	<tr>
		<td><label for="id_allow_friendly_kills">Allow Friendly Kills<br/>(kills against own corp or alliance):</label></td>
		<td><input type="checkbox" name="allow_friendly_kills" {% if leaderboard.allow_friendly_kills %}checked{% else %} empty {% endif %} value="True" id="id_allow_friendly_kills" /></td>
		<td></td>
	</tr>
	<tr>
		<td><label for="id_allow_competitor_kills">Allow Competitor Kills<br/>(overrides allow friendly):</label></td>
		<td><input type="checkbox" name="allow_competitor_kills" {% if leaderboard.allow_leaderboard_kills %}checked{% else %} empty {% endif %} value="True" id="id_allow_competitor_kills" /></td>
		<td></td>
	</tr>
	<tr>
		<td><label for="id_allow_outsider_kills">Allow General Kills<br/>(kills against Joe Public):</label></td>
		<td><input type="checkbox" name="allow_outsider_kills" {% if leaderboard.allow_outsider_kills%}checked{% else %} empty {% endif %} value="True" id="id_allow_outsider_kills" /></td>
		<td></td>
	</tr>

	<tr>
		<td></td>
		<td><button type="submit" name="Update" value="{{leaderboard.id}}" class="default">Update</button>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<button type="submit" name="Remove" value="{{leaderboard.id}}" class="default" />Delete!</button>
		</td>
		<td>
		</td>
	</tr>
	</form>
	<form action="/player/board_action/" method="post">
	{% csrf_token %}
	</form>
	</table>

{% endblock content %}