{% extends "evesolo/base.html" %}
{% block content %}
<h1>Manage Kills</h1>
<form action="/accounts/manage_kills/" method="post">
{% csrf_token %}
	<ul>
		<li><select name="filter_by_pilot">
				<option value="ALL">All Pilots</option>
				{% for pilot in pilots %}
				<option value="{{pilot.id}}">{{pilot.name}}</option>
				{% endfor %}
			</select>
			<button type="submit" name="pilot_filter" value="filter">Filter</button>
	</ul>
<h4>Solo Wins over the past six weeks</h4>
	{% if kill_list %}
	<div class="leaderboardpanel">
		<div class="leaderboardpanelinner">
			<table class="leaderboardpaneltable">
				<tr class="boardheader"><td>Victor</td><td>Ship Flown</td><td>Victim</td><td>Ship Flown</td><td>Kill Class</td><td>Points</td><td>Date</td><td>Verified?</td><td></td><td></td></tr>
				{% for kill in kill_list %}
				<tr id="{% cycle 'tr_light' 'tr_dark' %}">
					<td class="leaderboard"><a href="/pilot/{{kill.winning_pilot.id}}/">{{kill.winning_pilot.name}}</a></td>
					<td class="leaderboard">
						<table>
							<tr>
								<td><img src="http://image.eveonline.com/Render/{{kill.winners_ship.CCPID.ccp_id}}_32.png"></img></td>
								<td><a href="/leaderboards_ship/{{kill.winners_ship.id}}/">{{kill.winners_ship.name}}</a></td>
							</tr>
						</table>
					</td>
					<td class="leaderboard"><a href="/pilot/{{kill.losing_pilot.id}}/">{{kill.losing_pilot.name}}</a></td>
					<td class="leaderboard">
						<table>
							<tr>
								<td><img src="http://image.eveonline.com/Render/{{kill.losers_ship.CCPID.ccp_id}}_32.png"></img></td>
								<td><a href="/leaderboards_ship/{{kill.losers_ship.id}}/">{{kill.losers_ship.name}}</a></td>
							</tr>
						</table>
					</td>
					<td class="leaderboard"><a href="/leaderboards_class/{{kill.winners_ship.hull_class.id}}/">{{kill.winners_ship.hull_class.human_name}}</a></td>
					<td class="leaderboard">{{kill.points_awarded}}</td>
					<td class="leaderboard">{{kill.kill_date|date:"j-n-Y H:i"}}</td>
					{% if kill.verified %}
					<td class="leaderboard">Yes</td>
					{% else %}
					<td class="leaderboard">No</td>
					{% endif %}
					<td class="leaderboard"><a href="/kills/{{kill.id}}/">View</a></td>
					<td class="leaderboard"><center>
						<input type="checkbox" name="solokills_to_add" value="{{kill.id}}">
											</center>
					</td>
				</tr>
				{% endfor %}
				<tr id="tr_light">
					<td class="leaderboard" colspan="3"></td>
					<td class="leaderboard" colspan="7"><center>
						<button type="submit" name="enter_kills" value="enter">Enter Into</button>
						<select name="enter_into_leaderboard">
							{% for leaderboard in leaderboards %}
							<option value="{{leaderboard.id}}">{{leaderboard.name}}</option>
							{% endfor %}
						</select>
														</center>
					</td>
				</tr>
			</table>
		</div>
	</div>
	{% else %}
	No kills available.
	{% endif %}
</form>
{% endblock content %}
