<div id="smoothmenu1" class="ddsmoothmenu">
<ul>
	<li><a href="/kills/">Latest Kills</a></li>
	<li><a href="#">Evesolo</a>
		<ul>
			<li><a href="/leaderboards_summary/">Evesolo Board</a></li>
			<li><a href="/leaderboards_shipclassindex/">Class/Ship Index</a></li>
			<li><a href="/ship_stats/">Ship Stats</a></li>
		</ul>
	</li>
	<li><a href="#">Search</a>
		<ul>
			<li><a href="/search/">Pilots</a></li>
			<li><a href="/board_search/">Leaderboards</a></li>
		</ul>
	</li>
	<li><a href="http://eve-solo.blogspot.com/">Blog</a></li>
	{% if user.is_authenticated %}
	<li><a href="#">Your</a>
		<ul>
			<li><a href="/accounts/profile">Profile</a></li>
			<li><a href="/accounts/manage_boards/">Leaderboards</a></li>
		</ul>
	</li>
	<li><a href="/accounts/manage_kills/">Enter Kills</a>	
	<li><a href="/accounts/logout/">Logout</a></li>
	{% else %}
	<li><a href="/accounts/login/">Login</a></li>
	<li><a href="/accounts/register/">Register</a></li>
	{% endif %}
</ul>
</div>