{% extends "evesolo/base.html" %}
{% block content %}
{% if form.email.errors %}
<div id="error_message">{{form.email.errors}}</div></br></br></br>
{%endif %}
<h1>Password reset</h1>
Forgotten your password? Enter the email address you registered with below, and we will send instructions for resetting your password to that address.

You will receive an email from yellowalienbaby@gmail.com

<form action="" method="post">{% csrf_token %}
<p><label for="id_email">E-mail:</label> {{ form.email }}
<input type="submit" value="Reset" /></p>
</form>

{% endblock content %}
