{% extends "evesolo/base.html" %}
{% block content %}
<h1>Pull Summary</h1>
<ul>
	<li> Total mails pulled: {{total_mails}}</li>
	<li> Solo mails: {{solo_mails}}</li>
	<li> Mails already posted: {{already_posted}}</li>
	<li> NPC Wins: {{non_player_wins}}</li>
	<li> Already posted mails verified: {{already_posted_verified_mails}}</li>
	<li> Disputed mails corrected: {{disputed_mails}}</li>
	<li> Mails accepted: {{posted_mails}}</li>
</ul>
{% if kill_list %}
Accepted Mails</br>
<div class="leaderboardpanel">
	<div class="leaderboardpanelinner">
		<table class="leaderboardpaneltable">
			<tr class="boardheader"><td>Victor</td><td>Ship Flown</td><td>Victim</td><td>Ship Flown</td><td>Kill Class</td><td>Points</td><td>Date</td><td>Verified?</td><td></td></tr>
			{% for kill in kill_list %}
			<tr id="{% cycle 'tr_light' 'tr_dark' %}">
				<td class="leaderboard"><a href="/pilot/{{kill.winning_pilot.id}}/">{{kill.winning_pilot.name}}</a></td>
				<td class="leaderboard">
					<table>
						<tr>
							<td><img src="http://image.eveonline.com/Render/{{kill.winners_ship.CCPID.ccp_id}}_32.png"></img></td>
							<td><a href="/leaderboards_ship/{{kill.winners_ship.id}}/">{{kill.winners_ship.name}}</a></td>
						</tr>
					</table>
				</td>
				<td class="leaderboard"><a href="/pilot/{{kill.losing_pilot.id}}/">{{kill.losing_pilot.name}}</a></td>
				<td class="leaderboard">
					<table>
						<tr>
							<td><img src="http://image.eveonline.com/Render/{{kill.losers_ship.CCPID.ccp_id}}_32.png"></img></td>
							<td><a href="/leaderboards_ship/{{kill.losers_ship.id}}/">{{kill.losers_ship.name}}</a></td>
						</tr>
					</table>
				</td>
				<td class="leaderboard"><a href="/leaderboards_class/{{kill.winners_ship.hull_class.id}}/">{{kill.winners_ship.hull_class.human_name}}</a></td>
				<td class="leaderboard">{{kill.points_awarded}}</td>
				<td class="leaderboard">{{kill.kill_date|date:"j-n-Y H:i"}}</td>
				{% if kill.verified %}
				<td class="leaderboard">Yes</td>
				{% else %}
				<td class="leaderboard">No</td>
				{% endif %}
				<td class="leaderboard"><a href="/kills/{{kill.id}}/">View</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endif %}
{% endblock content %}
